/*Variables globales */
:root {
    /* Paleta de colores */
    --dark-brown: #664148;
    --light-brown: #fffdfe;
    --white: rgb(255, 255, 255);
    --dark-green: #444D38;
    --light-green: #5F7049;
    --razzmatazz: #AAAB83;
    --yellow: #DBD7A9;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 55px;
    margin-left: 100px;
    margin-top: 10px;
    color: var(--razzmatazz);
}

#logo {
    width: 100%;
    height: 100px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    background-color: var(--dark-green);
}

.contenido {
    width: 100%;
    height: 1700px;
    background-color: var(--light-brown);
    overflow: auto;
}

h2 {
    width: 225px;
    font-size: 30px;
    margin-left: 100px;
    border-bottom: solid 7px var(--dark-brown);
    color: var(--dark-brown);
}

article {
    width: 100%;
    height: 646px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 100px;
}

.card {
    width: 400px;
    height: 550px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px var(--dark-brown);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 7px 30px var(--dark-brown);
}

.img-card {
    width: 380px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 25px;
    color: var(--dark-brown);
}

.description {
    width: 300px;
    font-size: 15;
    margin-top: 0;
    color: var(--dark-green);
}

.price {
    font-size: 30px;
    color: var(--dark-brown);
}

.btn-whislist{
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    background-color: var(--dark-green);
    color: var(--razzmatazz);
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.btn-whislist:hover {
    background-color: var(--light-green);
    color: var(--white);
}

#contacto {
    font-size: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-green);
    color: var(--yellow);
    height: 200px;
}

.contador {
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
    font-size: 17px;
}

nav {
    display: flex;
}

.delete {
    width: 200px;
    height: 50px;
    background-color: var(--yellow);
    margin-left: 50px;
    border-radius: 10px; 
    border: none;
    font-weight: bold;
    color: var(--dark-green);
    transition: background 0.5s ease;
}

.delete:hover {
    background-color: var(--razzmatazz);
}

/* Media Queries para Responsividad */
@media (max-width: 900px) {
    .card {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
    }

    article {
        justify-content: center;
    }

    img {
        width: 900px;
        height: 100%;
    }
}

@media (max-width: 520px) {
    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100%;
    }

    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        width: 100%;
        font-size: 25px;
        margin-left: 0;
        text-align: center;
    }

    .contenido {
        height: 1750px;
    }

    .card {
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    article {
        justify-content: center;
    }

    .btn-whislist{
        padding: 10px 30px 10px 30px;
    }

    .contacto {
        font-size: 20px;
        height: 250px;
    }
}

@media (max-width: 1024px) {
    .contador, .delete{
        width: 150px;
        margin-right: 20px;
    }
}

@media (min-width: 344px) and (max-width: 968px) {

    h1 {
        margin-left: 10%;
    }
    
    #logo {
        height: 200px;
        text-align: center;
    }
    
    nav {
       display: grid;
       grid-column: 2; 
       margin-left: 30%;
    }

    .contador, .delete{
        width: 150px;
        margin-right: 20px;
    }
}

@media (min-width: 361px) and (max-width: 412px) {

    h1 {
        margin-left: 4%;
    }
    
    #logo {
        height: 200px;
        text-align: center;
    }
    
    nav {
       display: grid;
       grid-column: 2; 
       margin-left: 1%;
    }

    .contador, .delete{
        width: 150px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {

    h1 {
        margin-left: 20%;
    }
}

@media (max-width: 360px) {
    h1 {
        margin-left: 3%;
    }

    nav {
       display: grid;
       grid-column: 2; 
       margin-left: 1%;
    }
}